<h1>Hello</h1>
<mat-toolbar color="primary" class="flex justify-space-between">
    myMatWeb..

    <button mat-raised-button routerLink="/blogs">Blogs</button>
    <mat-menu #menu1="matMenu">
        <button mat-menu-item>You hae been taged..!</button>
        <button mat-menu-item>You have two new friend request.</button>
    </mat-menu>
    

<button mat-icon-button [matMenuTriggerFor]="menu1">
    <mat-icon matBadge="15" matBadgeColor="warn" >notifications</mat-icon>
</button>
    <button mat-fab routerLink="/login">Login</button>
</mat-toolbar>
<router-outlet></router-outlet>